
.galleryContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-right: 100px;
}

.galleryList {
  display: flex;
  padding: 0 8px;
  margin: 0;
  list-style-type: none;
  flex-direction: column;
  max-height: 600px;
  overflow-y: auto;
  overflow-x: hidden;
  // I couldn't provide custom scrollbar in Firefox :( i'll try to find new way
  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-track {
    background: #eee;
    border-radius: 5px;
  }
  &::-webkit-scrollbar-thumb {
    background: #585757;
    height: 5px;
    border-radius: 5px;
  }
}

.smallPicture {
  transition: all 0.1s ease 0s;
  margin-bottom: 40px;
  cursor: pointer;
    img {
      object-fit: cover;
      width: 80px;
      height: 80px;
    }
    &.selected {
      opacity: 0.5;
    }

}

.bigPicture {
  margin-left: 30px;
    img {
      object-fit: contain;
      width: 610px;
      height: 511px;
    }
}