.categoryContainer { 
  max-width: 1255px;
  padding: 0px 15px;
  margin: auto;
}

.categoryTitle {
  margin-top: 80px;
  font-weight: 400;
  font-size: 42px;
}

.categoryBody{
  margin-top: 103px;
  margin-bottom: 190px;
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: repeat(3, 1fr);
  gap: 100px 40px;
}
