
.productContainer {
  display: flex;
  flex-direction: column;
}

.nameBrandContainer {

}

.brand {
  color: #1D1F22;
  font-weight: 600;
  font-size: 30px;
  line-height: 90%;
}

.name {
  color: #1D1F22;
  font-weight: 400;
  font-size: 30px;
  line-height: 90%;
  margin-bottom: 43px;
}

.attributeName {
  font-family: "Roboto Condensed";
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  color: #1D1F22;
}

